@import url('https://netdna.bootstrapcdn.com/font-awesome/3.3.7/css/font-awesome.css'); 
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html {
   height: 100%;
}


.pageContainer { 
  position:fixed;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'lato', sans-serif;
  color: rgb(209, 190, 17);
  background: #bc18c2;
  background: rgb(76, 136, 175); /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgb(101, 226, 101) ,rgb(94, 219, 196)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(50, 124, 78) , rgb(218, 105, 71)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  

.loginContainer {
  
	background:rgba(58,63,68,0.5);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(91, 150, 106, 0.1);
  width:450px;
  display: flex;  
  flex-direction: column;
}

 .logTitle{
  font-family: "museo-slab";  
  font-size:20px;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
} 



.logBody {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
	color: #ffff;
	padding:35px 35px 0;
	margin: 20px 20px 0;	
	border-radius: 3px;
}


.buttonGroup {
  margin-left: 20;
  

}

.button1 {

font-size:20px;
  color: #ffff;
  background: #bc18c2;
  -webkit-transition: background-color .5s;
  transition: background-color .8s;
}  

  .button2 {
  font-size:20px;
  color: #ffff;
  background: #bc18c2;
  -webkit-transition: background-color .5s;
  transition: background-color .8s;
}  


 .form-group {
  font-size:17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-top: -10px;
  margin-bottom: 20px;
}  

 .user:before {
  content: '\f007';
  font: 14px fontawesome;
	color: #464444;
}


.lock:before {
  content: '\f023';
  font: 14px fontawesome;
	color: #5b5b5b;
}



 input {
  margin-left: auto;
  margin-right: auto;
  margin-left: 50px;
  width: 550px;
  background-color: rgb(255, 255, 255);
}

.form-login label,
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="submit"] {
  border-radius: 0.5rem;
  padding: 1rem;
  color: #3A3F44;  
}   

.head {
  background-color: #222222;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} 
 
.form-login input[type="text"], .form-login input[type="password"] {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
  background-color: #eeeeee;
}
.form-login input[type="submit"] {
  background-color: #00B9BC;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase; 
} 
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
  background-color: #197071;
} 


.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}  


 .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} 

.text--center {
  text-align: center;
}  